{% extends 'base.html' %}


{% block body %}

 <div class="container">

      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://drive.google.com/uc?export=view&id=14bIizBBivMQjAipXmiLEZ8iGWd4K4UbP" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://drive.google.com/uc?export=view&id=14bIizBBivMQjAipXmiLEZ8iGWd4K4UbP" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://drive.google.com/uc?export=view&id=14bIizBBivMQjAipXmiLEZ8iGWd4K4UbP" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

      </div>
<div class="container">
    <br>
<div class="row">
    {% for item in items_list %}
    <div class="col">
        <img  src="{{ item.item_image }}" alt="image">
        <h3>{{item.item_name}}</h3>
        <h5>{{item.item_des}}</h5>
        <h6>{{item.item_price}}</h6>
         <a href="{% url 'homepage:item_detail' item.id %}" class="btn btn-success"> Details </a>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
